<footer class="text-center text-lg-start fixed-bottom" style="background-color : #117977">

    <div class = "row" >
        <div class= "col-lg-4">

            <h5 class="text-uppercase"> Contact Email </h5>
            <p> WellnessInsight@gmail.com </p>
            
        </div>

        <div class="col-lg-4">

            <h5 class="text-uppercase"> Our Address </h5>
            <ul class="list-unstyled">
                <li> Cowcaddens Road </li>
                <li> Glasgow </li>
                <li> G4 0BA </li>

        </div>

        <div class="col-lg-4">

            <h5 class="text-uppercase"> Phone Number </h5>
            <p> 0141 331 3000 </p>
    </div>

</footer>