<nav class="navbar navbar-expand-lg navbar-dark " style = "background-color: #117977">
    <a class="navbar-brand" href="/"> Wellness Insight</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Navigation Toggle">
        <span class= "navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class = "navbar-nav ">
            <a class= "nav-item nav-link" style="font-size:20px" href="/homepage">Homepage</a>
            <a class= "nav-item nav-link" style="font-size:20px" href="/about">About Us</a>
            <a class= "nav-item nav-link" style="font-size:20px" href="/nutrition">Nutrition</a>
            <a class= "nav-item nav-link" style="font-size:20px" href="/fitness">Fitness</a>
            <a class= "nav-item nav-link" style="font-size:20px" href="/lifestyle">Lifestyle</a>
        

        </div>
    </div>
</nav>

