//custom

$primary:       #0E3542;
$secondary:     #2B4E69;
$success:       #10807e;
$info:          #54B86B;
$warning:       #91C052;




//bootstrap
@import"../node_modules/bootstrap/scss/bootstrap";

