<html>
    <head>
        {{>section/header}}
    </head>

    <body style = "background-color:#0E3542">
        {{>section/nav}}
    
<div class="text-right" style="margin-bottom: 1em;">
    {{^user}}
        <a id="login" href="/register" class="btn btn-light">
            Register
        </a>
        <a id="login" href="/login" class="btn btn-light">
            Login
        </a>
    {{/user}}
    {{#user}}
        <a id="logout" href="/logout" class="btn btn-light">
            Log Out
        </a>
    {{/user}}
    </div>
    
    <div class="container-fluid text-center">
        <div class="row content">
            <div class = "col-sm-2 left" style="background-color:#2B4E69">

               <br>
                <div class ="row">
                    <div class="card" style="background-color : #54B86B">
                        <div class="card-body">
                            <h6> Laughing is good for the heart and can increase blood flow by 20%! </h6>
                        </div>
                    </div>
                </div>
                
                <br>
                <br>
                <br>

                <div class="row">
                    <div class="card" style="background-color : #54B86B">
                        <div class="card-body">
                            <h6> Always look on the bright side: Being optomistic can help you live longer!</h6>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="row">
                    <div class="card" style="background-color : #54B86B">
                        <div class="card-body">
                            <h6> Antioxidants in chocolate improves blood flow and can protect against UV damage </h6>
                        </div>
                    </div>     
                </div>
            
            <br>
            <br>

            </div>
       
            <div class= "col-sm-8 centre" style="background-color:#10807e">
        <br>
            <h2 style=" text-decoration : underline">Welcome to Wellness Insight</h2>
            
            <div class = "text-center" style="padding : 25px">
        
                <p> Here at Wellness Insight we want to help you be the best version of yourself that you can be! </p>
                    
                   <p> In order to do that we have created this handy website to help you keep track of your different 
                    nutrition, fitness and lifestyle goals. We even keep track of goals you've achieved and store a history of
                    previous goals!
                </p>

            <br>
            <br>
            <br>
                <h6>
                    Below you can see what some example goals might look like, before you continue exploring our site:
                </h6>

            </div>

            <table class="table table-bordered" style="background-color : #54B86B">
                <thead>
                    <tr>
                        <th>Goal Type </th>
                        <th>Goal</th>
                        <th>Goal Duration</th>
                        <th>Goal Achieved</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td> Fitness </td>
                        <td> Do 20 Squats daily </td>
                        <td> 1 Week </td>
                        <td> Yes </td>
                    </tr>
                    <tr>
                        <td> Lifestyle </td>
                        <td> Drink 2L of Water Daily </td>
                        <td> 1 Week</td>
                        <td> Not Yet </td>
                    </tr>
                    <tr>
                        <td> Nutrition </td>
                        <td> Eat 5 Fruit and Veg a Day </td>
                        <td> 1 Week </td>
                        <td> Yes </td>
                    </tr>
                </tbody>
                </table>
            </div>
        

        <div class= "col-sm-2 right" style="background-color:#2B4E69">
        
        <br>

            <div class="row">
                <div class="card" style="background-color : #54B86B">
                    <div class="card-body">
                        <h6> Dehydration can have a negative impact on your mood and energy levels! </h6>
                    </div>
                </div>
            </div>
        <br>
        <br>
        <br>
            <div class="row">
                <div class="card" style="background-color : #54B86B">
                    <div class="card-body">
                        <h6> Five glasses of water each day reduces your change of suffering from a heart attack by 40% </h6>
                    </div>
                </div>
            </div>
        <br>
        <br>
        <br>
            <div class="row">
                <div class="card" style="background-color : #54B86B">
                    <div class="card-body">
                        <h6> Walking outside can reduce negative thoughts and boost self esteem! </h6>   
                    </div>
                </div>  
            </div>
        <br>
        <br>
       
            </div> 
        </div>
    </div>    

        {{>section/footer}}

    </body>
</html>